  {{>_sidebarDashboard}}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>K. Anderson</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Página inicial</a></li>
          <li class="breadcrumb-item">Minhas compras</li>
          <li class="breadcrumb-item active">Lista de compras</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">




        <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtro</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Hoje</a></li>
                    <li><a class="dropdown-item" href="#">Esse mês</a></li>
                    <li><a class="dropdown-item" href="#">Essa semana</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Lista de compras <span>| Cursos</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Banner curso</th>
                        <th scope="col">Nome do curso</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Data da compra</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#"><img src="/assets/images/product-1.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                        <td>R$ 50,00</td>
                        <td class="fw-bold">12/05/2023</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="/assets/images/product-2.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                        <td>R$ 50,00</td>
                        <td class="fw-bold">12/05/2023</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="/assets/images/product-3.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                        <td>R$ 50,00</td>
                        <td class="fw-bold">12/05/2023</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="/assets/images/product-4.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                        <td>R$ 50,00</td>
                        <td class="fw-bold">12/05/2023</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="/assets/images/product-5.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                        <td>R$ 50,00</td>   
                        <td class="fw-bold">12/05/2023</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

            
          </div>
        </div><!-- End Left side columns -->


        <!-- Right side columns -->
        <div class="col-lg-4">
          <!-- Recent Activity -->
          <!-- Content -->
        </div><!-- End Right side columns -->

      </div> <!-- End row container -->
    {{>_footerFilesScriptDashboard}}