<div class="container mt-2">
    <div class="card shadow mb-4">
        <div class="card">
          <div class="card-header py-3 d-sm-flex align-items-center justify-content-between ">
          Configurações
          </div>
        </div>
      <div class="card-body">
          <form action="">

            <div class="row">
              <div class="col-sm">
                
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nome</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name user">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Biografia</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>

              </div>
              <div class="col-sm">
                
                      
                  


              </div>
            </div>


          
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Redes sociais</label>
              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Link da rede social" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Link da rede social" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Link da rede social" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Meu site</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Localização</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
        

            <button type="button" class="btn btn-success">Atualizar perfil</button>
            <a href="/dashboard" type="button" class="btn btn-secondary">Voltar</a>
          </form>
      {{!-- Fim do card body --}}
      </div>
    </div>
</div>