<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <link rel="icon" type="image/x-icon" href="/images/master_courses.png">
        <!-- Favicons -->
        <link href="/assets/arsha-template/img/favicon.png" rel="icon">
        <link href="/assets/arsha-template/img/apple-touch-icon.png" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="/assets/arsha-template/css/font-open-sans.css">
        <!-- Bootstrap icons version: 1.10.5 -->
        <link rel="stylesheet" href="/assets/arsha-template/css/boostrap-icons.css">
        <!-- Vendor CSS Files -->
        <link href="/assets/arsha-template/vendor/aos/aos.css" rel="stylesheet">
        <link href="/assets/arsha-template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/arsha-template/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/assets/arsha-template/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/assets/arsha-template/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/assets/arsha-template/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="/assets/arsha-template/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        <!-- Template Main CSS File -->
        <link href="/assets/arsha-template/css/style.css" rel="stylesheet">
        <!-- =======================================================
        * Template Name: Arsha
        * Updated: Mar 10 2023 with Bootstrap v5.2.3
        * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>
    <body>
        {{{body}}} 
    </body>
</html>