<!DOCTYPE html>
<html lang="en">
    <head>
    {{!-- CSS BOOTSTRAP --}}
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <body>
        {{{body}}}
    </body>

    {{!-- JS BOOTSTRAP --}}
    {{>_script}}
</html>