<body style="background-color: #37517e">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
          <div class="card text-dark" style="border-radius: 1rem;">
            <div class="card-body bg-light p-5 rounded text-center">
              <div class="mb-md-0 mt-md-1 pb-1">
                <div class="section-title">
                    <h2 class="text-center" style="font-size: 25px;">Esqueceu a senha?</h2>
                </div>
                    <p class="mb-4">Digite o e-mail associado à sua conta e enviaremos um e-mail com instruções para redefinir sua senha</p>
                    <div class="panel-body">
                      {{>_alertDanger}}
                      {{>_alertSuccess}}
                      <div id="form" class="form-user">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control required" name="password" id="email" placeholder="Senha">
                            <label for="">E-mail</label>
                        </div>
                        <input type="submit" class="btn btn-lg btn-success btn-block w-100" onclick="recoverPassword()" name="recover-submit" value="Enviar">
                      </form>
                      <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            <p> Voltar <a href="/login" class="ml-2">Login</a></p>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div> 
        </div> 
      </div>   
    </div> 
  </section>   
{{>_preloader}}
</body>
<script src="/assets/js/firebaseLinks/firebase-app-compat.js"></script>
<script src="/assets/js/firebaseLinks/firebase-auth-compat.js"></script>
<script src="/assets/js/firebase-init.js"></script>
<script src="/assets/js/forms/recoverPassword/recoverPassword-firebase.js"></script>