<body style="background-color: #37517e">
  <section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-dark" style="border-radius: 1rem;">
                    <div class="card-body bg-light p-5 rounded text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                          <div class="section-title">
                              <h2 class="text-center">Esqueceu a senha?</h2>
                          </div>
                              <p class="mb-5">Enviaremos instruções para o seu e-mail para redefinir sua senha</p>
                              <div class="panel-body">
                                <form method="post" id="form" role="form" autocomplete="off" class="form-user">
                                  <div class="form-floating mb-3">
                                      <input type="email" class="form-control required" name="password" autocomplete="on" placeholder="Senha" oninput="mainPasswordValidate()">
                                      <label for="">Senha</label>
                                      <span class="span-required text-start">Insira um e-mail válido</span> 
                                  </div>
                                  <input name="recover-submit" class="btn btn-lg btn-success btn-block w-100" value="Enviar" type="submit">
                                </form>
                                <div class="mt-4">
                                  <div class="d-flex justify-content-center links">
                                      <p> Voltar <a href="/login" class="ml-2">Login</a></p>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>   
    </div> 
  </section>   
</body>
<script>
   let form = document.getElementById('form');
   let campo = document.querySelector('.required')
   let span = document.querySelector('.span-required');
  const emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;


  form.addEventListener('submit', (event) => {
    event.preventDefault();
    emailValidate();
  });


  function setError() {
    campo.style.border = '2px solid #e63656';
    span.style.display = 'block';
  }

   function removeError() {
    campo.style.border = '';
    span.style.display = 'none';
    }

   function emailValidate() {
    if(!emailRegex.test(campo.value)) {
          setError()
      } else {
          removeError()
      }
    }
</script>
</html>