{{!-- <div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Redefinir senha</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" class="form-control my-3" />
            <label class="form-label" for="typeEmail">Email input</label>
        </div>
        <a href="#" class="btn btn-primary w-100">Redefinir senha</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="/login">Login</a>
            <a class="" href="/cadastro">Cadastro</a>
        </div>
    </div>
</div> --}}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-dark" style="border-radius: 1rem;">
          <div class="card-body bg-dark p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              {{!-- <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button> --}}


              <form action="/dashboard" method="POST" id="form">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control required" id="inputEmail" name="email"  placeholder="E-mail" oninput="emailValidate()">
                            <label for="inputEmail">E-mail</label>
                            <span class="span-required">Digite um e-mail válido</span>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control required" id="inputPassword" name="password" placeholder="Senha" oninput="passwordValidate()">
                            <label for="inputPassword">Senha</label>
                            <span class="span-required ">A senha deve ter no mínimo 8 caracteres</span>
                        
                        </div>
                        <button class="w-100 btn btn-lg btn-success" type="submit">Entrar</button>
                    </form>
                  	<div class="mt-4">
                        <div class="d-flex justify-content-center links text-white">
                            Não tem uma conta? <a href="/cadastro" class="ml-2">Criar uma</a>
                        </div>
                        <div class="d-flex justify-content-center links">
                            <a href="/forgot">Esqueceu a senha?</a>
                        </div>
				    </div>  



              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>

            <div>
              <p class="mb-0 text-white">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>