<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- <form action="add" method="POST">
        <p>Título: </p>
        <input type="text" name="titulo">
        <p>Conteúdo: </p>
        <textarea name="conteudo"></textarea>
        <button type="submit">Cadastrar</button>
    </form> --}}

    <div class="container mt-3">
       <form action="admin/users/list" method="POST">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Nome</label>
                <input type="email" class="form-control" id="exampleInputName" name="name" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword" name="password">
            </div>
            <div class="mb-3">
                <label for="exampleInputContact" class="form-label">Contato</label>
                <input type="text" class="form-control" id="exampleInputContact" name="contact">
            </div>
            <button type="submit" class="btn btn-primary">Cadastar</button>
        </form>
    </div>
</body>
</html>