  {{>_sidebarDashboard}}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Suporte</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Página inicial</a></li>
          <li class="breadcrumb-item">Ajuda</li>
          <li class="breadcrumb-item active">Suporte</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
              <p>Escreva sua pergunta aqui</p>
          </div>
        </div>

        <!-- Right side columns -->
        <div class="col-lg-4">
           <div class="row">
              {{!-- <p>column</p> --}}
          </div>
        </div><!-- End Right side columns -->


      </div> <!-- End row container -->
    </section><!-- End Contact Section -->
  </main>      
  {{>_footerDashboard}}
  {{>_footerFilesScriptsDashboard}}