<body style="background-color: #37517e">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="card text-dark" style="border-radius: 1rem;">
                        <div class="card-body bg-light p-5 rounded text-center">
                            <div class="mb-md-0 mt-md-1 pb-1">
                                <div class="section-title">
                                    <h2 class="text-center mb-1">Login</h2>
                                </div>
                                <div id="preloader" style="display: none;"></div>
                               
                                {{!-- <form id="form" class="form-user"> --}}
                                <div id="form" class="form-user">
                                
                                    <div class="alert alert-danger" id="error-field-empty" role="alert" style="display: none;"></div>
                                    {{>_alertSuccess}}
                                    {{>_alertDanger}}

                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control required" name="field-validate" id="email" placeholder="E-mail">
                                        <label for="inputEmail">E-mail</label>
                                        <span class="span-required text-start" style="display: none;">Digite um e-mail válido</span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control required" name="field-validate" id="password" placeholder="Senha">
                                        <label for="inputPassword">Senha</label>
                                        <span class="span-required text-start" style="display: none;">A senha deve ter no mínimo 8 caracteres</span>
                                    </div>
                                    <input class="btn btn-lg btn-success m-2 w-100" id="button-submit" onclick="login()" type="submit" value="Entrar">
                                </div>
                                {{!-- </form> --}}
                                <div class="mt-4">
                                    <div class="links">
                                        <p class="mb-0">Não tem uma conta? 
                                            <a href="/cadastro">Criar uma</a>
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p><a href="" onclick="recoverPassword()">Esqueceu a senha?</a></p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{{!-- <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore-compat.js"></script> --}}
<script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-auth-compat.js"></script>
<script src="/assets/js/firebase-init.js"></script>
<script src="/assets/js/forms/login/login-firebase.js"></script>