<<<<<<< HEAD
<ul id="data-list">
    <!-- Aqui é onde os dados serão exibidos -->
</ul>

<script src="/assets/js/teste.js"></script>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul id="data-list">
        <li id="list-users"></li>    
    <ul>
    <script src="/assets/js/teste.js"></script>
</body>
</html>
>>>>>>> 1a4c99229c4ee72074f8a16efbab9242560efd18
