<div class="d-flex justify-content-center">
  <div class="spinner-border text-success" role="status" id="spinner" style="display: none;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>