{{!-- <div class="container mt-4">    
    <form action="/admin/users/list" method="POST">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Ex.: André Silva">
            <div id="nameMessage" class="form-text d-none">Nome precisa conter 5 ou mais caracteres</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@gmail.com">
            <div id="emailMessage" class="form-text d-none">Digite um e-mail válido</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" placeholder="12@45M">
            <div id="passwordMessage" class="form-text d-none">Senha precisa conter 6 ou mais caracteres</div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a href="/admin/users/list" class="btn btn-outline-secondary">Voltar</a>
    </form>
</div> --}}


{{!-- <div class="container" style="height: 100px; background-color: rgba(255,0,0,0.1);">
    <iframe 
    class="w-100 v-50"

    src="https://www.youtube.com/embed/FdE5G95B7Mg" 
    title="YouTube video player"    
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
</iframe>

</div> --}}

<div class="w-25 p-3" style="background-color: #eee;">Width 25%</div>
<div class="w-50 p-3" style="background-color: #eee;">Width 50%</div>
<div class="w-75 p-3" style="background-color: #eee;">Width 75%</div>
<div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>
<div class="w-auto p-3" style="background-color: #eee;">Width auto</div>
