    {{>_sidebarDashboard}}
     <main id="main" class="main">
      <div class="pagetitle">
        {{!-- <h1>Lista de usu치rios</h1> --}}
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">P치gina inicial</a></li>
            <li class="breadcrumb-item">Administrativo</li>
            <li class="breadcrumb-item active">Exluir usu치rio</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
            <h3>Excluir usu치rio</h3>
        </div> <!-- End row -->

    </section>
    {{>_footerFilesScriptDashboard}}