{{>_sidebarDashboard}}
<main id="main" class="main">
  <div class="pagetitle">
    {{!-- <h1>Lista de usuários</h1> --}}
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Página inicial</a></li>
        <li class="breadcrumb-item">Painel Admin</li>
        <li class="breadcrumb-item active">Excluir usuário</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <div class="card shadow">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-start">
        <h5 class="m-0 text-dark">Excluir Visitante</b></h1>
    </div>
    <div class="card-body">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir</button>
      <a href="/admin/users/list" class="btn btn-outline-dark mt-3" title="Voltar para lista de usuários">Voltar</a>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Excluir Visitante</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Tem certeza que deseja excluir usuário?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
              <a href="/admin/users/list">
                <button type="button" class="btn btn-danger">Excluir</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</main>
{{>_footerDashboard}}
{{>_footerFilesScriptsDashboard}}