    {{>_headFilesBootstrapDataTables}}
    {{>_sidebarDashboard}}
    <main id="main" class="main">
        <div class="pagetitle">
            {{!-- <h1>Lista de usuários</h1> --}}
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Página inicial</a></li>
                    <li class="breadcrumb-item">Painel Admin</li>
                    <li class="breadcrumb-item active">Editar usuário</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Usuário</button>
                                </li>
                            </ul>
                
                            <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">
                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Foto de Perfil</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="/assets/images/profile-img.jpg" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm" title="Trocar foto do perfil"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm" title="Excluir foto de perfil"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    

                                    <div class="row mb-3" id="users">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nome</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" id="username" type="text" class="form-control" placeholder="Nome do usuário" value="{{user.name}}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">E-mail</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" id="user-email" type="email" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Contato</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" id="user-phone" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Função</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" id="user-funcao" type="text" class="form-control" id="Job" value="Visitante">
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Endereço</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" id="user-adress" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Perfil Twitter</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="twitter" type="text" class="form-control" id="Twitter">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Perfil Facebook</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facebook" type="text" class="form-control" id="Facebook">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Perfil Instagram</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="instagram" type="text" class="form-control" id="Instagram">
                                        </div>
                                    </div>

                                    <div class="row mb-5">
                                        <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Perfil Linkedin</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="linkedin" type="text" class="form-control" id="Linkedin">
                                        </div>
                                    </div>

                                    <div class="text-start">
                                        <button type="submit" class="btn btn-primary">Atualizar</button>
                                        <a href="/admin/users/list" class="btn btn-dark">Voltar</a>
                                    </div>
                                </form><!-- End Profile Edit Form -->
                            </div>
                        </div>
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </section>
    </main>
    {{>_footerDashboard}}
    {{>_footerFilesDashboard}}
     <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore-compat.js"></script>
    <script src="/assets/js/firebase-init.js"></script>
    <script src="/assets/js/auth-guard.js"></script>
<<<<<<< HEAD
    <script src="/assets/js/painel/tabelas/admin/users/dataTable-update.js"></script>
=======
    <script src="/assets/js/tabelas/admin/users/dataTable-update.js"></script>
>>>>>>> 61736bfed6603910d722fc9f1d6c26217e8bd4fb
    <script src="/assets/js/logout.js"></script>