<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/arsha-template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/arsha-template/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/arsha-template/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/arsha-template/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/arsha-template/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/arsha-template/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/arsha-template/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/arsha-template/css/dashboard.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>
<body>



  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/home/area-membro/courses/area-curso" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">MC</span>
      </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Pesquisar aula" title="Pesquisar aula">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->



        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/assets/images/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/account/user-profile">
                <i class="bi bi-person"></i>
                <span>Minha conta</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/help">
                <i class="bi bi-question-circle"></i>
                <span>Ajuda</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->
  </header><!-- End Header -->


  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link bg-dark" href="/home/area-membro/courses/area-curso">
          <i class="bi bi-file-richtext"></i>
          <span class="text-white">Desenvolvimento Web</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-courses" data-bs-toggle="collapse" href="#">
          <i class="bi bi-book"></i><span>Configuração e setup</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-courses" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Setup inicial</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Instalando NodeJS</span>
            </a>
          </li>
            <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Configurando Vscode</span>
            </a>
          </li>
        </ul>
      </li><!-- End Módulo 1 nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-purchase" data-bs-toggle="collapse" href="#">
          <i class="bi bi-book"></i><span>HTML5 e CSS3</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-purchase" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>O que é HMTL3?</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Pra quê usar HML3?</span>
            </a>
          </li>
           <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>O que é CSS3?</span>
            </a>
          </li>
           <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Pra quê serve CSS3?</span>
            </a>
          </li>
        </ul>
      </li><!-- End Módulo 2 Nav -->
      
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-settings" data-bs-toggle="collapse" href="#">
          <i class="bi bi-book"></i><span>Javascript Básico</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-settings" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Primeiro contato com a linguagem</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Operadores</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Variáveis</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Loppings</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Array</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Objeto</span>
            </a>
          </li>
        </ul>
      </li><!-- End Módulo 2 Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-admin" data-bs-toggle="collapse" href="#">
          <i class="bi bi-book"></i><span>Lógica de Programação</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-admin" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>O que é lógica de programação?</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Melhores soluções</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Código limpo</span>
            </a>
          </li>
          <li>
            <a href="/home/area-membro/courses/area-curso">
              <i class="bi bi-circle"></i><span>Conceito de paradigmas</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Módulo 2 Nav -->
      

    </ul>
  </aside><!-- End Sidebar-->






   <main class="main" id="main">

     {{!-- <div class="pagetitle">
        <h1>Nome do curso</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Página inicial</a></li>
            <li class="breadcrumb-item">Curso</li>
            <li class="breadcrumb-item active">Nome do curso</li>
          </ol>
        </nav>
      </div><!-- End Page Title --> --}}

      <div class="row">
  
        <div class="col-lg">

          <div class="card">
            <iframe src="https://www.youtube.com/embed/pWahNIMRxR0" class="w-100" 
            height="700" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <div class="card-body">
              <h5 class="card-title">Setup inicial</h5>
              <p class="card-text mb-5">
                Links importantes da aula:<br>
                <b>Vscode:</b> https://code.visualstudio.com/<br>
                <b>NodeJs:</b> https://nodejs.org/en
                <br>
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <button type="button" id="button-action" class="btn btn-success rounded-pill">Marcar como concluída</button>
            </div>
          </div>
        </div>
       
      </div>
         
    </main>

    {{!-- <script>
      let button = document.getElementById('button-action').innerText;
      button.addEventListener('click', () => {
        textContent = 'Concluído';
      })
    </script> --}}
    {{>_footerDashboard}}
    {{>_footerFilesScriptsDashboard}}