  {{>_filesHeadHtmlDashboard}}
  {{>_navbarDashboard}}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Detalhes do curso</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Página Inicial</a></li>
          <li class="breadcrumb-item">Meus cursos</li>
          <li class="breadcrumb-item active">Detalhes do curso</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-3">
          <!-- Card with an image on top -->
          <div class="card">
            <img src="/" class="card-img-top" alt="banner do curso">
            <div class="card-body">
              <h5 class="card-title">Javascrip ES6</h5>
              <p class="card-text">Aprendizado de uma das linaguagens mais populares do mercado e do mundo. Você aprenderá os principais conceitos da linguagem com 3 projetos projetos reais.</p>
               <p class="card-text"><a href="/home/area-membro/courses/area-curso" class="btn btn-primary">Acessar</a></p>
            </div>
          </div><!-- End Card with an image on top -->
        </div>

        <div class="col-lg-9">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Módulos do curso<span> | Javascrip ES6</span></h5>
              <!-- Default Accordion -->
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <ul class="sidebar-nav" id="sidebar-nav">
                    <li class="nav-item">
                      <a class="nav-link bg-dark text-white collapsed" data-bs-target="#components-courses" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-book"></i>
                        Configuração e setup
                        <i class="bi bi-chevron-down ms-auto"></i>
                      </a>
                      <ul id="components-courses" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Setup inicial
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Instalando NodeJS
                          </a>
                        </li>
                          <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                              Configurando Vscode
                          </a>
                        </li>
                      </ul>
                    </li><!-- End Módulo 1 nav -->


                    <li class="nav-item">
                      <a class="nav-link bg-dark text-white collapsed" data-bs-target="#components-purchase" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-book"></i>
                        HTML5 e CSS3
                        <i class="bi bi-chevron-down ms-auto"></i>
                      </a>
                      <ul id="components-purchase" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            O que é HMTL3?
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Pra quê usar HML3?
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            O que é CSS3?
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Pra quê serve CSS3?
                          </a>
                        </li>
                      </ul>
                    </li><!-- End Módulo 2 Nav -->

                    <li class="nav-item">
                      <a class="nav-link bg-dark text-white collapsed" data-bs-target="#components-settings" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-book"></i>
                        Javascript Básico
                        <i class="bi bi-chevron-down ms-auto"></i>
                      </a>
                      <ul id="components-settings" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Primeiro contato com a linguagem
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Operadores
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i><span>Variáveis</span>
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Loppings
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Array
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Objeto
                          </a>
                        </li>
                      </ul>
                    </li><!-- End Módulo 2 Nav -->

                    <li class="nav-item">
                      <a class="nav-link bg-dark text-white collapsed" data-bs-target="#components-admin" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-book"></i><span>Lógica de Programação</span><i class="bi bi-chevron-down ms-auto"></i>
                      </a>
                      <ul id="components-admin" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            O que é lógica de programação?
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                              Melhores soluções
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Código limpo
                          </a>
                        </li>
                        <li>
                          <a href="/home/area-membro/courses/area-curso">
                            <i class="bi bi-check2"></i>
                            Conceito de paradigmas
                          </a>
                        </li>
                      </ul>
                    </li><!-- End Módulo 2 Nav -->
                  </ul>

                </div> <!-- End Accordion item -->        
              </div> <!-- End Default Accordion Example -->
            </div> <!-- End Card body -->
          </div> <!-- End card container -->
        </div>
      </div> <!-- End row -->
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer-dashboard w-100" class="footer-dashboard position-relative fixed-bottom">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->
  <script src="/assets/arsha-template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Firebase files init -->
  <script src="/assets/js/firebaseLinks/firebase-app-compat.js"></script>
  <script src="/assets/js/firebaseLinks/firebase-auth-compat.js"></script>
  <script src="/assets/js/firebaseLinks/firebase-firestore-compat.js"></script>
  <script src="/assets/js/firebase-init.js"></script>
  <!-- Logout -->
  <script src="/assets/js/logout.js"></script>
  {{!-- {{>_footerFilesDashboard}} --}}