{{>_sidebarDashboard}}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Meus cursos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Página inicial</a></li>
          <li class="breadcrumb-item">Meus cursos</li>
          <li class="breadcrumb-item active">Todos os cursos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        {{>_preloader}}
  
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
            <!-- Content -->
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col course-details">
                <div class="card">
                  <img src="/assets/arsha-template/img/cta-bg.jpg" class="card-img-top" alt="Banner do curso">
                  <div class="card-body">
                    <h5 class="card-title">Javascript ES6</h5>
                    <p class="card-text">Aprendizado de uma das linaguagens mais populares do mercado e do mundo. Você aprenderá os principais conceitos da linguagem com projetos 3 projetos reais.</p>
                    <a href="/home/area-membro/courses/course-details" class="btn btn-outline-dark stretched-link">Acessar curso</a>
                  </div>
                </div>
              </div>
              <div class="col course-details">
                <div class="card">
                  <img src="" class="card-img-top" alt="Banner do curso">
                  <div class="card-body">
                    <h5 class="card-title">Javascript ES6</h5>
                    <p class="card-text">Aprendizado de uma das linaguagens mais populares do mercado e do mundo. Você aprenderá os principais conceitos da linguagem com projetos 3 projetos reais.</p>
                    <a href="/home/area-membro/courses/course-details" class="btn btn-outline-dark stretched-link">Acessar curso</a>
                  </div>
                </div>
              </div>  
            </div>
          </div><!-- End row -->
        </div><!-- End Left side columns -->


        <!-- Right side columns -->
        <div class="col-lg-4">
          <!-- Recent Activity -->

        </div><!-- End Right side columns -->

      </div> <!-- End row -->
    </section><!-- End Section -->
  </main>

  {{!-- {{>_footerFilesScriptDashboard}} --}}
  {{>_footerDashboard}}
  {{>_footerFilesDashboard}}