  {{>_navbarDashboard}}
  {{>_sidebarDashboard}}
  <main id="main" class="main">
    <h1 id="usersame"></h1>
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Página inicial</a></li>
        </ol>
      </nav>
    </div>

    <table id="myTable" class="display">
      <thead>
          <tr>
              <th>Nome</th>
              <th>Idade</th>
          </tr>
      </thead>
      <tbody id="data">
        {{!-- <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr> --}}
      </tbody>
    </table>

    <section class="section">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-4">
          <div class="row">
          </div>
        </div>
        
      </div> <!-- End row container -->

    </section>
  </main><!-- End #main -->
  {{>_preloader}}
  {{>_footerDashboard}}
  {{>_footerFilesDashboard}}

  <script>
    $(document).ready( function () {
      $('#myTable').DataTable({
        "language": {
            "lengthMenu": "Mostrando _MENU_ registros por página",
            "zeroRecords": "Nenhum registro foi encontrado",
            "info": "Mostrando página _PAGE_ de _PAGES_ registros",
            "infoEmpty": "Nenhum registro foi encontrado",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "Search": "Pesquisar"
        },
        language: {
          search: 'Pesquisar:'
        }

      });       
    });

    const users = [
      { name: 'Wiliamis', age: 27, gender: 'male' },
      { name: 'Kipper dev', age: 25, gender: 'female' },
      { name: 'Mario Souto', age: 34, gender: 'male' },
      { name: 'Rafaela', age: 17, gender: 'female' },
    ]

    users.forEach((user) => {
      const tbody = document.getElementById('data')

      const tr = document.createElement('tr')
      
      const td = document.createElement('td')
      td.innerHTML = user.name
    
      tr.append(td) 
      tbody.append(tr)
    })


    




  </script>
 
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />  
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

  <script src="/assets/js/home.js"></script>
  <script src="/assets/js/logout.js"></script>
  <script src="/assets/js/loading.js"></script>