  {{>_navbarDashboard}}
  {{>_sidebarDashboard}}
  <main id="main" class="main">
    <h1 id="usersame"></h1>
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Página inicial</a></li>
        </ol>
      </nav>
    </div>
    <button id="addRow" class="btn btn-success">Adicionar usuário</button>

    <table id="myTable" class="display">
      <thead>
          <tr>
              <th>Nome</th>
              <th>E-mail</th>
          </tr>
      </thead>
     
    </table>

    <section class="section">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-4">
          <div class="row">
          </div>
        </div>
        
      </div> <!-- End row container -->

    </section>
  </main><!-- End #main -->
  {{>_preloader}}
  {{>_footerDashboard}}
  {{>_footerFilesDashboard}}

  <script>
    $(document).ready(function () {
      const table = new DataTable('#myTable', {
          language: {
            lengthMenu: "Mostrando _MENU_ registros por página",
            info: "Mostrando página _PAGE_ de _PAGES_ registros",
            infoEmpty: "Nenhum registro foi encontrado",
            zeroRecords: "Nenhum registro foi encontrado",
            emptyTable: "Nenhum registro foi encontrado",
            infoFiltered: "(filtrado de _MAX_ registros no total)",
            search: "Pesquisar",
            searchPlaceholder: 'Pesquisar...',
            paginate: {
              'previous': 'Anterior',
              'next': 'Próximo'
            },
          },          
      })

      const users = [
        { name: 'Wiliamis', email: 'wiliamis@gmail.com', age: 27, gender: 'male' },
        { name: 'Kipper dev', email: 'kipperdev@gmail.com', age: 25, gender: 'female' },
        { name: 'Mario Souto', email: 'mariosoutinho@gmail.com', age: 34, gender: 'male' },
        { name: 'Rafaela', email: 'rafaela@gmail.com', age: 17, gender: 'female' },
      ]

      function addUsersToScreen() {
        if(users.length) {
          users.forEach(user => {
            table.row
            .add([
              user.name,
              user.email  
            ])
            .draw(false)
          })

        } else {
          $('.dataTables_empty').text('Nenhum registro foi encontrado!');
        }
      }  
    
      const button = document.querySelector('#addRow').addEventListener('click', addUsersToScreen)
      addUsersToScreen()
      
    })
    </script>
 
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />  
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

  <script src="/assets/js/home.js"></script>
  {{!-- <script src="/assets/js/loading.js"></script> --}}